NAME=IDX_D1R1_BM25
CSA_TYPE=sdsl::csa_wt<sdsl::wt_int<sdsl::rrr_vector<63>>,1000000,1000000>
DF_TYPE=surf::df_sada<sdsl::rrr_vector<63>>
WTP_TYPE=sdsl::wt_int<sdsl::rrr_vector<63>>
WTU_TYPE=sdsl::wt_int<sdsl::bit_vector, sdsl::rank_support_v5<>, sdsl::select_support_scan<1>, sdsl::select_support_scan<0>>
RANK_TYPE=surf::rank_bm25<>
INDEX_TYPE=surf::idx_d1r1<CSA_TYPE,DF_TYPE,WTP_TYPE,WTU_TYPE,RANK_TYPE>
