NAME=IDX_DR_BM25
CSA_TYPE=sdsl::csa_wt<sdsl::wt_int<sdsl::rrr_vector<63>>,1000000,1000000>
DF_TYPE=surf::df_sada<sdsl::rrr_vector<63>>
WTD_TYPE=sdsl::wt_int<sdsl::bit_vector, sdsl::rank_support_v5<>, sdsl::select_support_scan<1>, sdsl::select_support_scan<0>>
WTR_TYPE=sdsl::wt_int<sdsl::rrr_vector<63>>
RANK_TYPE=surf::rank_bm25<>
INDEX_TYPE=surf::idx_dr<CSA_TYPE,DF_TYPE,WTD_TYPE,WTR_TYPE,RANK_TYPE>
PHRASE_SUPPORT=1
