NAME=IDX_D_TFIDF
CSA_TYPE=sdsl::csa_wt<sdsl::wt_int<sdsl::rrr_vector<63>>,1000000,1000000>
WTD_TYPE=sdsl::wt_int<sdsl::bit_vector, sdsl::rank_support_v5<>, sdsl::select_support_scan<1>, sdsl::select_support_scan<0>>
DF_TYPE=surf::df_sada<sdsl::rrr_vector<63>>
RANK_TYPE=surf::rank_tfidf
INDEX_TYPE=surf::idx_d<CSA_TYPE,WTD_TYPE,DF_TYPE,RANK_TYPE>
PHRASE_SUPPORT=1
