NAME=IDX_NNX
CSA_TYPE=sdsl::csa_wt<sdsl::wt_huff<sdsl::rrr_vector<63>>,32,1000000, sdsl::text_order_sa_sampling<sdsl::sd_vector<>>>
DF_TYPE=surf::df_sada<sdsl::rrr_vector<63>,sdsl::rrr_vector<63>::select_1_type, sdsl::byte_alphabet_tag>
WTD_TYPE=sdsl::wt_int<sdsl::bit_vector, sdsl::rank_support_v5<>, sdsl::select_support_scan<1>, sdsl::select_support_scan<0>>
KTWOTREAP_TYPE=sdsl::k2_treap<2,sdsl::bit_vector>
INDEX_TYPE=surf::idx_nn<CSA_TYPE,KTWOTREAP_TYPE>
